{% extends "trips/base.html" %}
{% block page-title %}Edit Itinerary{% endblock %}
{% block main-class %}edit-itinerary{% endblock %}
{% block content %}
  <div class="trip-preferences">
          <h2>Edit Itinerary</h2>
          <form id="edit-itinerary-form" action="{% url 'trips:edit_itinerary' itinerary_id=itinerary.id %}" method="POST">
            <label for="name">Itinerary Name:</label>
  <input type="text" id="name" name="name" value="{{ itinerary.name }}" />
              <label for="region">Region</label>
              <div class="checkbox-group">
      {% for region_value, region_label in itinerary.REGION_CHOICES %}
        <label>
          <input
            type="radio"
            class="region-radio"
            name="region"
            value="{{ region_value }}"
            {% if region_value == itinerary.region %}checked{% endif %}
          />
          {{ region_label }}
        </label>
      {% endfor %}
    </div>

          <label for="visibility">Visibility</label>
          <div class="checkbox-group">
        <label>
          <input
            type="radio"
            class="visibility-radio"
            name="visibility"
            value="public"
            {% if itinerary.visibility == "public" %}checked{% endif %}
          />
          Public
        </label>
        <label>
              <input
                type="radio"
                class="visibility-radio"
                name="visibility"
                value="private"
                {% if itinerary.visibility == "private" %}checked{% endif %}
              />
              Private
            </label>
        </div>


        <!-- Specific Dates -->
        <div id="dates-fields">
          <label for="start-date">Start Date:</label>
          <input type="date" id="start-date" name="start-date" value="{{ itinerary.start_date|date:'Y-m-d' }}"/>
          <label for="end-date">End Date:</label>
          <input type="date" id="end-date" name="end-date" value="{{ itinerary.end_date|date:'Y-m-d' }}"/>
        </div>

            <label for="budget">Budget ($):</label>
            <input
              type="number"
              id="budget"
              name="budget"
              placeholder="Enter your budget or leave blank for no budget limit" value="{{ itinerary.budget }}"
            />

          <label for="details">Details:</label>
          <textarea
            id="details"
            name="details"
            rows="3"
            placeholder="Tell us what you want from your trip..."
          >{{ itinerary.details }}</textarea>
            <button type="submit" class="btn btn-primary">
              <b>Save Changes</b>
            </button>
              {% csrf_token %}
          </form>
        </div>
  <a href="{% url 'trips:saved_itineraries_list' %}" class="btn">Cancel</a>
{% endblock %}