{% extends "trips/base.html" %}
{% block page-title %}Explore Itinerary List{% endblock %}

{% block main-class %}saved-itineraries{% endblock %}
{% block content %}
    <h2>Explore</h2>
      <div class="search-sort-filter-container">
        <!-- Search Bar -->
        <input
          type="text"
          id="search-bar"
          class="search-bar"
          placeholder="Search itineraries..."
        />

        <!-- Sort & Filter Buttons -->
        <div class="sort-filter-buttons">
          <button id="sort-btn" class="btn sort-btn">Sort ⬍</button>
          <button id="filter-btn" class="btn filter-btn">Filter ⛛</button>
        </div>
      </div>
      <!-- Itineraries List -->
      <ul class="itinerary-list">
      {% for itinerary in itineraries %}
          <li class="itinerary-item {% if itinerary.visibility == 'public' %}public{% else %}private{% endif %}">
            <div class="itinerary-info">
              <!-- Itinerary Details -->
              <h3>{{ itinerary.name }}</h3>
              <p><b>User:</b> {{ itinerary.user }}</p>
              <p><b>🌍 Destinations:</b> {{ itinerary.destination }}</p>
              <p><b>📅 Duration:</b> {{ itinerary.get_duration }} days</p>
              <p><b>💰 Budget:</b> ${{ itinerary.budget|floatformat:2 }}</p>
              <p><b>✍️ Created:</b> {{ itinerary.created_at|date:"F j, Y" }}</p>
              <p><b>🕒 Last Updated:</b> {{ itinerary.updated_at|date:"F j, Y" }}</p>

              <!-- Star Rating -->
              <div class="rating">
                <span class="stars">{{ itinerary.star_rating }}</span>
                <span class="review-count">({{ itinerary.review_count }})</span>
              </div>
            </div>
            <div class="itinerary-actions">
            <a href="{% url 'trips:user_itinerary_details' itinerary_id=itinerary.id %}" class="btn view-btn">View</a>
            <button class="btn favorite-btn">💾</button>
            <a href="{% url 'trips:edit_itinerary' itinerary_id=itinerary.id%}" id="edit-btn" class="btn edit-btn">Edit ✏️</a>
            <button class="btn delete-btn" data-action="delete" data-delete-url="{% url 'trips:delete_itinerary' itinerary_id=itinerary.id %}">🗑️</button>
          </div>
          </li>
      {% endfor %}
      </ul>
{% endblock %}